@use '../base/variables';
@use '../base/mixins';

/* Estilos para Galería */
.galery-main {
    text-align: center;
    @include mixins.card-style(variables.$violeta);

    h2 {
        font-weight: bolder;
        margin-top: 20px;
    }

    h3 {
        margin: 40px 0;
        padding: 10px;
        text-decoration: underline;
        background-color: variables.$negro;
    }
}

.galery {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 5px;

    img {
        width: 300px;
        height: 220px;
        @include mixins.hover-scale(1.2);
    }
}

/* 🖥️ MEDIA QUERY: Versión para escritorio */
@media (min-width: 768px) {
    .galery {
        grid-template-columns: repeat(3, 1fr);

        img {
            width: 360px;
            height: 250px;
        }
    }
}
