@use '../base/variables';
@use '../base/mixins';
@use '../base/animations';

/* SECCIÓN INTRO */
.intro {
    text-align: center;
    padding: 40px 20px;

    h1 {
        font-weight: bolder;
        color: variables.$violeta;
        animation: slideDown 1s ease-out forwards;
        opacity: 0;
    }

    p {
        font-style: italic;
        margin: 0;
        animation: show 1.5s ease-in forwards;
        opacity: 0;
    }
}

/* SECCIÓN DESTACADOS */
.highlights {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "seccion1"
        "seccion2"
        "seccion3";
    gap: 20px;
    padding: 20px;
}

/* Cada tarjeta */
.highlight {
    @include mixins.card-style(variables.$violeta);
    @include mixins.hover-scale(1.05);
    text-align: center;

    h3 {
        font-style: italic;
        font-weight: bold;
    }

    video {
        max-width: 350px;
    }
}

.carousel-item img {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}

/* 🖥️ MEDIA QUERY: Versión para escritorio */
@media (min-width: 768px) {
    .intro {
        p {
            font-size: 20px;
            margin: 50px 230px 0;
        }
    }

    .highlights {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "seccion1 seccion1 seccion1"
            "seccion2 seccion2 seccion2"
            "seccion3 seccion3 seccion3";
    }

    .highlight {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
    }

    .description-1, .description-2 {
        width: 300px;
        font-size: 25px;

        h3, p {
            margin-bottom: 0 !important;
            margin-top: 10px !important;
        }
    }

    .description-2 {
        order: 2;
    }

    .detalle-2 {
        order: 1;
    }

    .detalle-3 {
        font-size: 25px;
    }

    .highlight video {
        max-width: 800px;
    }
    
}
