@use 'variables';

@mixin card-style ($bg-color){
    background-color: $bg-color;
    color: variables.$blanco;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

@mixin hover-scale($factor: 1.25) {
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale($factor);
      z-index: 2;
    }
  }